@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome</h1>
<h4>
    Here you can apply for a leave of absence whether that's for some well deserved self-care or taking
    care of a loved one in need.
</h4>